<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Isha Webinar Scheduler</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</head>
<body class="container-fluid"
      style="background:#F7E2D0;text-align:center;padding:0px" onload="onLoad();">
<div style="background:#F4C6AC">
<h2 style="padding-top:1%;color:#A32B2E">Isha Webinar Scheduler</h2>
<nav class="navbar sticky-top navbar-default" style="display:inline-block;">
        <div class="btn-group" style="padding-bottom:1%;">
            <a href=" {{ url_for('home') }} " class="btn btn-primary" aria-current="page" style="font-size: 90%;">Home</a>
            <a href=" {{ url_for('calendar') }} " class="btn btn-primary" aria-current="page" style="font-size: 90%;">Calendar</a>
            <a href=" {{ url_for('slot_search') }} " class="btn btn-primary" style="font-size: 90%;">Slot Availability</a>
            <a href=" {{ url_for('mat_req') }} " class="btn btn-primary" style="font-size: 90%;">Request Materials</a>
            <a href=" {{ url_for('live_dash') }} " class="btn btn-primary" style="font-size: 90%;">Live Dashboard</a>
        </div>
</nav>
</div>
<div style="color:#A32B2E">
    {% block content %}{% endblock %}
</div>
<script>
    function onLoad() {
	document.getElementById("other_mod").style.visibility = "hidden";
	document.getElementById("other_module").disabled = true;
	document.getElementById("other_lang").style.visibility = "hidden";
	document.getElementById("other_language").disabled = true;
	document.getElementById("other_plat").style.visibility = "hidden";
	document.getElementById("other_platform").disabled = true;
	document.getElementById("other_chan").style.visibility = "hidden";
	document.getElementById("other_channel").disabled = true;
    };
</script>

</body>
</html>