{% extends "base.html" %}

{% block content %}
<div>
    <h2 style="color:#A32B2E;padding: 2% 0 2% 0">Webinar Calendar</h2>
    <h3 style="padding: 0 2% 0 2%">
        The webinar slots represented in the calendar are subject to change without notice,
        Kindly use this only as an informal reference. Click on the button below in order to
        formally check for slot availability.
    </h3>
    <br>
    <a href=" {{ url_for('slot_search') }} " class="btn btn-primary">Webinar Slot Availability</a>
    <br><br>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=aXNoYXdzY0BnbWFpbC5jb20&amp;color=%23039BE5&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;title=Isha%20Webinar%20Calendar"
            style="border:solid 1px #777" width="80%" height="600"
            frameborder="0" scrolling="no"></iframe>
</div>
<div>

</div>
{% endblock %}